
~$lojasAssaiMenorDistancia_Final.xlsx
~$lojasAssaiMenorDistancia_Test.xlsx
~$lojasAssai.xlsx
~$lojasAssaiDiff.xlsx
~$data\lojasAssai.xlsx
~$data\lojasAssaiDiff.xlsx
~$lojasAssaiMenorDistancia_Test.xlsx
~$lojasAssaiMenorDistancia_Final.xlsx
~$lojasAssai.xlsx
~$lojasAssaiDiff.xlsx
~$data\lojasAssai.xlsx
~$data\lojasAssaiDiff.xlsx
~$data\lojasAssaiMenorDistancia_Test.xlsx
~$data\lojasAssaiMenorDistancia_Final.xlsx
~$data\lojasAssaiMenorDistancia_Final.xlsx
/.venv
*.pyc
data/keys.py
data/~$lojasAssaiDiff_routetest.xlsx
data/lojasAssaiDiff_routetest - Copia.xlsx
data/lojasAssaiDiff_correct.xlsx
data/lojasAssaiDiff_routetest.xlsx
